<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trailer Kung Fu Panda 5</title>
    <link rel="stylesheet" href="./css/home.css">
</head>

<body>

    <div class="trailer">

        <div class="estrellas"></div>
        <div class="luna"></div>

        <div class="montanas">
            <div class="montana m1"></div>
            <div class="montana m2"></div>
            <div class="montana m3"></div>
            <div class="montana m4"></div>
        </div>

        <div class="bambu b1"></div>
        <div class="bambu b2"></div>
        <div class="bambu b3"></div>
        <div class="bambu b4"></div>

        <div class="templo">
            <div class="techo1"></div>
            <div class="techo2"></div>

            <div class="base-templo">
                <div class="ventana v1"></div>
                <div class="ventana v2"></div>
                <div class="columna c1"></div>
                <div class="columna c2"></div>
                <div class="puerta"></div>
            </div>
        </div>

        <div class="chi"></div>

        <div class="dragon">
            <div class="cola"></div>
            <div class="cuerpo"></div>
            <div class="cabeza"></div>
        </div>

        <div class="panda">
            <div class="panda-cabeza">
                <div class="panda-oreja izq"></div>
                <div class="panda-oreja der"></div>

                <div class="mancha izq"></div>
                <div class="mancha der"></div>

                <div class="ojo izq"></div>
                <div class="ojo der"></div>

                <div class="nariz"></div>
                <div class="sonrisa"></div>
            </div>

            <div class="panda-cuerpo"></div>

            <div class="brazo izq"></div>
            <div class="brazo der"></div>

            <div class="pierna izq"></div>
            <div class="pierna der"></div>
        </div>

        <div class="impacto"></div>

        <div class="niebla"></div>
        <div class="suelo"></div>

        <div class="logo">
            <span class="kung">KUNG FU</span>
            <span class="panda">PANDA</span>
            <span class="cinco">5</span>
        </div>

        <div class="texto"></div>

    </div>

</body>
</html>